<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="JSON_LOG" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <logLevel/>
                <threadName/>
                <mdc/>
                <message/>
            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="JSON_LOG"/>
    </root>
</configuration>